.container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: dashed 2px #e8e9eb;
}

.highlight {
  background: #ebf6f5;
}

.input {
  display: none !important;
}

.fullHeight {
  height: 100%;
}
